@import "tailwindcss";

:root {
  --primaryColor: #f14e32;
  --primaryHover: #d2391e;
  --alphaShadow: rgba(0, 0, 0, 0.373);
}

nav {
  background: #3e2c00;
}

@layer utilities {
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  body {
    @apply cursor-default overflow-scroll;
  }

  .primary,
  .secondary,
  input,
  textarea,
  .tooltip,
  .blurring,
  button,
  .clickable,
  div,
  i,
  .icon {
    @apply transition-all duration-200;
  }
  li {
    @apply rounded-md;
  }
  input[type="text"],
  textarea {
    @apply cursor-text;
  }
  button {
    @apply rounded-full text-white p-1 w-20 h-8 cursor-pointer;
  }
  .primary {
    @apply bg-(--primaryColor) border border-amber-700 hover:bg-(--primaryHover);
  }
  .secondary {
    @apply bg-gray-400 hover:bg-gray-500 border border-gray-600;
  }
  IMG {
    @apply hover:border-(--primaryColor) border-2;
  }

  Link {
    @apply font-extrabold;
  }
  h1 {
    @apply text-(--primaryColor) text-3xl font-semibold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl;
  }
  input {
    @apply rounded-full h-10 w-64;
  }
  input,
  textarea {
    @apply bg-gray-100 px-3 outline-0 focus:bg-gray-300;
  }
  textarea {
    @apply h-20 rounded-3xl  w-64 resize-none;
  }
  .shadowed {
    @apply shadow-md shadow-black;
  }
  .blurring {
    @apply backdrop-blur-sm bg-black/20;
  }
  i {
    @apply text-sm text-gray-500 hover:text-gray-700;
  }
  li {
    @apply w-full;
  }
}
